    /***** Additional styling for Portfolio *****/
    
    html {
        scroll-behavior: smooth;
        /*This ensures that the page scrolling is smooth when the buttons on the nav bar is clicked */
    }
    
    .about-text {
        padding: 1rem;
        border-left: 1px solid white;
        color: white;
    }
    
    .send-button {
        background color: white;
        font-size: x-large;
        border: none;
        float: right;
    }